body {
    font-family: Arial, sans-serif;
    background-color: #9ba5b0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #001427;
    text-align: center;
}

.converter {
    background: rgb(201, 201, 201);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}